div.header 
  h1.title Tic Tac Toe 
  div.navbardiv 
    a.navbar( href = "about" ) About
    a.navbar( href = "login" ) Login
    a.navbar( href = "registration" ) Register
    a.navbar( href = "How To Play" ) How To Play