doctype html
html
  head
    title= title
    link( rel="stylesheet", href="/stylesheets/profile-style.css" )
  
  body
    block content
    include ./partials/header.pug
    p This is a profile page 